.nuxt-content h1 {
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.nuxt-content p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.nuxt-content h1 a[aria-hidden='true'] {
  display: none;
}

.nuxt-content :is(h2, h3, h4, h5, h6) a[aria-hidden='true'] .icon.icon-link {
  display: none;
}

.nuxt-content :is(h2, h3, h4, h5, h6) a::before {
  content: '#';
  color: inherit;
  font-weight: 400;
  font-size: 1.25rem;
  margin-right: 0.33em;
  line-height: 1.75em;
  line-height: 2rem;
}

.nuxt-content :is(h2, h3, h4, h5, h6) {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
